
@media (max-width: 640px) {
    .hero .content {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: auto;
        left: auto;
    }
    .info, .weather {
        position: static;
        background-color: transparent;

        
    }
}
