body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 20px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #006400;
    color: white;
    padding: 10px 20px;
}

main h2 {
    text-align: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu.active {
    display: flex; /* Show menu when active */
    flex-direction:column;
    position:fixed;
    top: 6px; /* Adjust positioning as needed */
    right: 10px; /* Adjust positioning as needed */
    background-color: #006400;
    border: 1px solid #fff;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px; /* Adjust margin for better spacing */
}

nav a:hover {
    color: #ffeb3b;
}

.hamburger {
    display: block; /* Show hamburger button by default */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-left: 10px; /* Adjust margin as needed */
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery img {
    width: 300px;
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #006400;
    color: white;
}