body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 20px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #006400;
    color: white;
    padding: 10px 20px;
}

main h2 {
    text-align: center;
}


.menu {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

nav a:hover {
    color: #ffeb3b;
}

.hamburger {
    display: none;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery img {
    width: 300px;
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #006400;
    color: white;
}