body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 20px;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #006400;
    color: white;
    padding: 10px 20px;
}

main h2 {
    text-align: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu.active {
    display: flex; 
    flex-direction: column;
    margin: 30px;
    top: 6px;
    right: 10px;
    background-color: #006400;
    border: 1px solid;
}
nav a {
    display: none;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

nav a:hover {
    color: #ffeb3b;
}

.hamburger {
    display: flex; 
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery img {
    width: 300px;
}

figcaption {
    text-align: center;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #006400;
    color: white;
}